h1 {
    color: #78ab46;
}
h5 {
    color: #78ab46;
}

.table tbody tr td {
    border: none;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}
.hide {
    display: none;
}
.hide + label ~ div{
    display: none;
}
.hide + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block;
}
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
.hide:checked + label + div {
    display: block;
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    width: 700px;
    padding: 10px;
}
