<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.4/bootstrap-table.min.js"></script>

    <script type="text/javascript" th:src="@{/lib/account.js}"></script>
    <meta charset="UTF-8">
    <title>Google Hometask</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Google Hometask. Accounts</h1>
    <br>


    <div class="row">
        <div class="table-responsive col-md-6">
            <table id="accountTable" class="display table table-bordered">
                <thead>
                <tr>
                    <th data-field="name">Name</th>
                    <th data-field="isDefault"
                        data-checkbox="true"
                        data-checkbox-enabled="false"
                        data-show-select-title="true">Is default</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="table-responsive col-md-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <label>Name</label>
                        <input name="name" class="form-control" id="name">
                        <br>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isDefault">
                            <label class="form-check-label" for="isDefault">is default</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive col-md-6">
<!--            <button type="submit" class="btn btn-primary" th:onclick="getAllAccounts()">Get All</button>-->
            <button type="submit" class="btn btn-primary" th:onclick="authorize()">Get Google authorization link</button>
            <p><a href="/" th:href="@{/}" id="google-authorization-link">Authorization
                link</a></p>
            <br>
        </div>
        <div class="table-responsive col-md-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary" th:onclick="updateAccount()">Save</button>
                        <br>
                        <button type="submit" class="btn btn-primary" th:onclick="getSettings()">Settings</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

<!--    <div class="form-group">-->
<!--        <label for="account-name">Account name</label>-->
<!--        <input class="form-control" id="account-name" placeholder="Account name"></th>-->
<!--        <div class="form-check mb-2 mr-sm-2">-->
<!--            <input class="form-check-input" type="checkbox" id="is-default">-->
<!--            <label class="form-check-label" for="is-default">Is default</label>-->
<!--        </div>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary" th:onclick="authorize()">Get Google authorization link</button>-->
<!--    <p><a href="/" th:href="@{/}" id="google-authorization-link">Authorization-->
<!--        link</a></p>-->
<!--    <br>-->
<!--    <button type="submit" class="btn btn-primary" th:onclick="saveSettings()">Save settings</button>-->
    <br>
    <p><a href="/settings" th:href="@{/settings}">Settings</a></p>

</div>
</body>
</html>