<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.4/bootstrap-table.min.js"></script>

    <script type="text/javascript" th:src="@{/lib/course.js}"></script>
    <meta charset="UTF-8">
    <title>Google Hometask</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Google Hometask. Courses</h1>

    <table id="courseTable" class="display table table-bordered"
           data-pagination="true"
           data-id-field="id"
           data-page-list="[10, 25, 50, 100, all]">
        <thead>
        <tr>
            <th data-field="id" data-visible="false">ID</th>
            <th data-field="name">Name</th>
            <th data-field="descriptionHeading">Description</th>
            <th data-field="alternateLink">Link</th>
        </tr>
        </thead>
    </table>

        <button type="submit" class="btn btn-primary" th:onclick="updateCourses()">Update from Googleclass</button>
<!--    <button type="submit" class="btn btn-primary" th:onclick="getAllCourses()">Get All</button>-->

</div>
</body>
</html>