<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.4/bootstrap-table.min.js"></script>

    <script type="text/javascript" th:src="@{/lib/course.js}"></script>
    <meta charset="UTF-8">
    <title>Google Hometask</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Google Hometask. Courses</h1>

    <table id="courseTable" class="display table table-bordered"
           data-pagination="true"
           data-id-field="id"
           data-page-list="[10, 25, 50, 100, all]"
           data-search="true">
        <thead>
        <tr>
            <th data-field="id" data-visible="false">ID</th>
            <th data-field="name">Name</th>
            <th data-field="descriptionHeading">Description</th>
            <th data-field="alternateLink" data-searchable="false">Link</th>
            <th data-field="account.name" data-sortable="true">Account</th>
        </tr>
        </thead>
    </table>

        <button type="submit" class="btn btn-primary" th:onclick="updateCourses()">Update from Googleclass</button>
<!--    <button type="submit" class="btn btn-primary" th:onclick="getAllCourses()">Get All</button>-->

    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input name="id" class="form-control" id="id" type="hidden">
                <label>Name</label>
                <input name="name" class="form-control" id="name">
                <label>Description</label>
                <input name="descriptionHeading" class="form-control" id="descriptionHeading">
                <label>Alternate link</label>
                <input name="alternateLink" class="form-control" id="alternateLink" readonly>
                <label>Enrollment code</label>
                <input name="enrollmentCode" class="form-control" id="enrollmentCode">
                <input name="sourceOfFunds" class="form-control" id="sourceOfFunds" type="hidden">
                <input name="courseState" class="form-control" id="courseState" type="hidden">
                <input name="room" class="form-control" id="room" type="hidden">
                <input name="section" class="form-control" id="section" type="hidden">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" th:onclick="updateCourse()">Update course</button>
    <button type="submit" class="btn btn-primary" th:onclick="deleteCourse()">Delete course</button>


</div>
</body>
</html>