<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/settings.js}"></script>
    <meta charset="UTF-8">
    <title>Google Hometask</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Google Hometask. Settings</h1>

    <form>
        <div class="form-group row">
            <form class="form-inline">
                <label for="account-name" class="col-sm-2 col-form-label">Account name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="account-name">
                </div>
                <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input" type="checkbox" id="is-default">
                    <label class="form-check-label" for="is-default">Is default</label>
                </div>
            </form>
        </div>
        <div class="form-group row">
            <label for="GOOGLE_APP_NAME" class="col-sm-2 col-form-label">Application name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="GOOGLE_APP_NAME" placeholder="Application name">
            </div>
        </div>
        <div class="form-group row">
            <label for="GOOGLE_APP_CREDENTIALS" class="col-sm-2 col-form-label">Credentials file name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="GOOGLE_APP_CREDENTIALS" placeholder="Credentials file name">
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"><h5>Google classroom</h5></th>
                <th scope="col"></th>
                <th scope="col"><h5>Google sheets</h5></th>
                <th scope="col"></th>
                <th scope="col"><h5>Telegram bot</h5></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Job status</td>
                <td>
                    <input class="form-control" id="JOB_GET_COURSES_STATUS" placeholder="active">
                </td>
                <td>GS spreadsheet ID</td>
                <td>
                    <input class="form-control" id="GOOGLE_SHEETS_SPREADSHEET_ID" placeholder="Spreadsheet ID">
                </td>
                <td>Bot name</td>
                <td><input name="bot-name" class="form-control" id="TELEGRAM_BOT_NAME" placeholder="Name"></td>
            </tr>
            <tr>
                <td>Job history status</td>
                <td>
                    <input class="form-control" id="JOB_GET_COURSES_HISTORY_STATUS" placeholder="active">
                </td>
                <td>GS use status</td>
                <td>
                    <input class="form-control" id="GOOGLE_SHEETS_USE_STATUS" placeholder="active">
                </td>
                <td>Bot username</td>
                <td>
                    <input name="bot-user-name" class="form-control" id="TELEGRAM_BOT_USERNAME" placeholder="Username">
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Bot token</td>
                <td><input name="bot-token" class="form-control" id="TELEGRAM_BOT_TOKEN" placeholder="Token"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit" class="btn btn-primary" th:onclick="saveSettings()">Save</button>
    <hr/>
    <p><a href="/settings/job" th:href="@{/settings/job}">Job settings</a></p>

</div>
</body>
</html>